#box { 
    width: 99vw;
    height: 98vh;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

}

div#div1 {
    display: grid;
    padding: 200px 50px 200px 150px;
    place-items: center;
}

div#div2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 200px 50px 200px 30px;

}

img {
    width: 300px;
    margin-top: 40px;
}

div#div2 input[type="text"] {
    padding-top: 5px;
    margin-bottom: 5px;
}

div#div2 input[type="password"] {
    padding-top: 5px;
    margin-bottom: 5px;
}

div#div2 input[type="submit"] {
    padding: 17.5px;
    margin-left: 10px;
}
