body {
    width: 960px;
    border: 3px solid #000;;
}

div:first-child {
    border-bottom: 1px solid black;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

div#div1 {
    width: 80px;
    padding: 5px;
    border-right: 1px solid black;
    height: 400px;
}

div#div2 {
    padding: 5px;
}

#bt_menu_search {
    padding: 5px 10px;
}

#bt_search {
    width: 80px;
    padding: 5px 20px;
    background-color: white;
    border: 1px solid gray;
    color: #bfbfbf;
}

.bt_view {
    width: 80px;
    padding: 5px 20px;
    background-color: white;
    border: 1px solid red;
    color: red;
}

.bt_borrow {
    width: 80px;
    padding: 5px 20px;
    background-color: white;
    border: 1px solid blue;
    color: blue;
}

div#div2 input[type="text"] {
    width: 750px;
    padding: 5px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

table,
tr {
    border: 1px solid black;
}

td {
    padding: 15px 7px;
}

tr>td:nth-child(1) {
    width: 50px;
}

tr>td:nth-child(2) {
    width: 450px;
}

tr>td:nth-child(3) {
    width: 100px;
}

tr>td:nth-child(4) {
    width: 50px;
}

tr>td:nth-child(5) {
    width: 50px;
}

.sort-select {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}